<a href="/">Home</a>



<form action="/" method="post">
  <label for="file_name">File name:</label>
  <input id="file_name" type="text" value="<%= params[:file_name] %>">
  <button type="submit">Create list</button>
</form>
