body {
  padding: 1em;
  font-family: sans-serif;
  background-color: rgb(89, 104, 103);
  color: darkturquoise;
}

.flash.error {
  padding: 10px;
  background-color: rgb(255, 152, 152);
  color: black;
  font-weight: 600;
}

.flash.success {
  padding: 10px;
  background: #FFFF99;
  color: black;
  font-weight: 600;
}

a {
  color: rgb(205, 252, 255);
}

form.inline {
  display:inline;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}